/*  commons */

.content {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

html,
body {
  height: fit-content;
}

/*  Posts */
.menu_header {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.menu_header img {
  height: 50px;
  margin: 10px 20px;
}

.menu_header h1 {
  margin: auto 10px;
}

/* Post Form */

.post_form form {
  display: flex;
}

.post_form form .logo_menu {
  flex-basis: 15px;
}

.post form .menu_body {
  flex-basis: 85%;
}

.post_form {
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}
.bottons input.btton {
  background-color: rgb(29, 161, 242);
  width: 20%;
  float: right;
  margin-top: -12%;
  color: white;
  font-weight: 800;
}

.post_form img {
  width: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

.post_form .menu_body {
  padding-left: 10px;
}

.post_form input {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid;
  border: none;
}

.post_form textarea {
  border: 0px;
  padding: 10px;
  width: 100%;

  resize: none;
}

.post_form .menu_body .username input[type="text"] {
  border: 0px;
  width: 100%;
  background: #e6fef7;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.post ul {
  padding: 0;
}

.posts li {
  position: relative;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px 40px;
  list-style: none;
}
.posts li .menu_icon {
  width: 20px;
  position: absolute;
  top: 18px;
  right: 30px;
}

.posts li .logo {
  flex-basis: 15%;
}

.posts li .logo img {
  width: 50px;
  padding-left: 10px;
  padding-top: 10px;
}
.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
}

.posts li .name_body .datetime {
  color: grey;
}

@media screen and (max-width: 500px) {
  .posts li .name_body .name {
    font-size: 20px;
  }
}

.posts li .menu_icon {
  width: 20px;
  position: absolute;
  top: 18px;
  right: 30px;
}
.posts li .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 15px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}
.posts li .menu a {
  text-decoration: none;
}
.like-button {
  float: none;
  background-color: white;
  color: red;
  font-size: xx-large;
  border: none;
}
.likes-count {
  padding-right: 10px;
  padding-top: 9px;
}
.row {
  display: flex;
}
input.update-button {
  background-color: rgb(29, 161, 242);
  width: 26%;
  margin-top: -12%;
  color: white;
  font-weight: 800;
}
/* a.cancel-button {
  background-color: rgb(29, 161, 242);

  margin-top: -12%;
  color: white;
  font-weight: 800;
  text-decoration: none;
} */
a.cancel-button {
  width: 70%;
  margin-bottom: 10px;
  color: white;
  font-weight: 800;
  padding: 10px;
  border: 1px none #ccc;
  background-color: rgb(29, 161, 242);
  border-radius: 1px;
  text-decoration: none;
}
.post-border {
  border-radius: 7px;
  width: 100%;
}
